body{
    padding: 7px;
    padding-top: 0px;
}

h1{
    background-color: black;
    color:white;
    font-family: cursive;
    padding: 5px;
    padding-left: 13px;
    
}

span{
    color:cyan
}

h2{
    background-color: rgb(110, 65, 124);
    color:white;
    font-family: cursive;
    font-style: italic;
    text-align: center;
    font-weight: lighter;
    margin-top: -1.8%;
    padding: 5px;
    
    
}

h3{
    background-color: rgb(145, 183, 233);
    color: rgb(110, 65, 124);;
    text-decoration: underline;
    text-align: right;
    padding: 3px;
    padding-right: 20px;
    font-family: cursive;
    margin-top: -1.5%;
}